/**Demo**/
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Lustria);
@font-face {
  font-weight: normal;
  font-style: normal; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  background: #282d33;
  color: #B2B5BD;
  font: 20px/30px 'Quattrocento Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #999;
  text-decoration: none; }

a:hover,
a:focus {
  color: #7D87AE;
  outline: none; }

button:focus {
  outline: none; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

.note {
  padding: 1.5em 1.5em 2.5em;
  font-size: 1.75em; }

header {
  background: #333;
  margin-bottom: 3rem; }
  header nav ul {
    margin: 0; }
    header nav ul li {
      display: inline-block;
      padding: 1rem 2rem; }
      header nav ul li:first-of-type {
        font-weight: bold;
        font-size: 1.25rem;
        color: #fff;
        text-transform: uppercase; }

main {
  margin: 0 auto; }
  main h1 {
    color: #fff;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 0px;
    line-height: 5rem; }
    @media only screen and (min-width: 42em) {
      main h1 {
        letter-spacing: 18px;
        font-size: 4.175rem;
        margin: 3rem auto 0;
        line-height: auto; } }
  main h5 {
    letter-spacing: 5px; }
    @media only screen and (min-width: 36em) {
      main h5 {
        margin-top: 4.5rem; } }
  main h1,
  main h5 {
    text-align: center;
    text-transform: uppercase; }
  main .content {
    max-width: 730px;
    width: 100%;
    line-height: 1.6;
    padding: 5%; }
    @media only screen and (min-width: 760px) {
      main .content {
        padding: 0%; } }
    main .content p {
      padding-top: 0.5rem; }
      main .content p first-of-type {
        padding-top: .5rem; }
    main .content .c-float-right {
      float: none;
      margin-right: 0%;
      max-width: 100%;
      margin-left: 0%;
      margin-bottom: 1.5rem; }
    main .content .c-float-hang {
      background: #ddd;
      color: #222;
      font-size: 1.125rem;
      padding: 0.75rem 2rem; }
      main .content .c-float-hang .subheading {
        margin-bottom: .125rem; }
      main .content .c-float-hang p {
        margin-top: .125rem; }
    @media only screen and (min-width: 1048px) {
      main .content .c-float-right {
        float: right;
        margin-right: -20%;
        max-width: 50%;
        margin-left: 5%;
        margin-bottom: 1.5rem; }
      main .content .c-float-hang {
        font-size: 1.125rem;
        padding: 0.75rem 2rem; }
        main .content .c-float-hang .subheading {
          margin-bottom: .125rem; }
        main .content .c-float-hang p {
          margin-top: .125rem; } }
    @media only screen and (min-width: 42em) {
      main .content {
        margin: 1rem auto 3rem; } }

/**Gallery CSS**/
.gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 5rem 0 3.5em; }

.gallery-pictures {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: -webkit-grab;
  white-space: nowrap;
  font-size: 0;
  cursor: grab; }

.gallery-picture {
  max-width: 740px;
  margin-left: 380px;
  display: inline-block;
  transform: rotateY(0); }
  .gallery-picture img {
    max-width: 740px; }

.gallery-pagination {
  margin-top: 12px;
  text-align: center;
  font-size: 0; }

.gallery-pagination-dot {
  background: #3d3d3d;
  border-radius: 15%;
  cursor: pointer;
  width: 32px;
  height: 8px;
  border: 2px solid transparent;
  margin: 0 7px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.gallery-pagination-dot-selected {
  /**border: 2px solid #7D87AE;**/
  background: #42a9ec; }

.lrgimg {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  .lrgimg img {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 840px;
    transition: all .3s;
    cursor: default;
    display: block;
    padding: 1rem 0; }
    @media only screen and (min-width: 36em) {
      .lrgimg img {
        cursor: pointer; } }
    .lrgimg img.img-enlarge {
      max-width: 1280px;
      width: 100%; }
  .lrgimg figcaption {
    font-size: .85em;
    padding-top: .35em; }
    .lrgimg figcaption .logo-theme {
      list-style: numbers outside;
      margin: auto;
      max-width: 280px;
      text-align: left; }
      .lrgimg figcaption .logo-theme li {
        padding: .35em 0; }
        .lrgimg figcaption .logo-theme li:first-of-type {
          border-top: none; }

.gallery img {
  margin-top: 1em; }

footer {
  margin-bottom: 1rem; }
  footer h3 {
    padding-top: 2rem; }
  footer p {
    border-top: 1px solid #ddd;
    max-width: 1080px;
    margin: 1.5rem auto;
    padding-top: 1.5rem;
    font-size: .95rem; }
/**Demo**/
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Lustria);
@font-face {
  font-weight: normal;
  font-style: normal; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  background: #282d33;
  color: #B2B5BD;
  font: 20px/30px 'Quattrocento Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #999;
  text-decoration: none; }

a:hover,
a:focus {
  color: #7D87AE;
  outline: none; }

button:focus {
  outline: none; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

.note {
  padding: 1.5em 1.5em 2.5em;
  font-size: 1.75em; }

header {
  background: #333;
  margin-bottom: 3rem; }
  header nav ul {
    margin: 0; }
    header nav ul li {
      display: inline-block;
      padding: 1rem 2rem; }
      header nav ul li:first-of-type {
        font-weight: bold;
        font-size: 1.25rem;
        color: #fff;
        text-transform: uppercase; }

main {
  margin: 0 auto; }
  main h1 {
    color: #fff;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 0px;
    line-height: 5rem; }
    @media only screen and (min-width: 42em) {
      main h1 {
        letter-spacing: 18px;
        font-size: 4.175rem;
        margin: 3rem auto 0;
        line-height: auto; } }
  main h5 {
    letter-spacing: 5px; }
    @media only screen and (min-width: 36em) {
      main h5 {
        margin-top: 4.5rem; } }
  main h1,
  main h5 {
    text-align: center;
    text-transform: uppercase; }
  main .content {
    max-width: 730px;
    width: 100%;
    line-height: 1.6;
    padding: 5%; }
    @media only screen and (min-width: 760px) {
      main .content {
        padding: 0%; } }
    main .content p {
      padding-top: 0.5rem; }
      main .content p first-of-type {
        padding-top: .5rem; }
    main .content .c-float-right {
      float: none;
      margin-right: 0%;
      max-width: 100%;
      margin-left: 0%;
      margin-bottom: 1.5rem; }
    main .content .c-float-hang {
      background: #ddd;
      color: #222;
      font-size: 1.125rem;
      padding: 0.75rem 2rem; }
      main .content .c-float-hang .subheading {
        margin-bottom: .125rem; }
      main .content .c-float-hang p {
        margin-top: .125rem; }
    @media only screen and (min-width: 1048px) {
      main .content .c-float-right {
        float: right;
        margin-right: -20%;
        max-width: 50%;
        margin-left: 5%;
        margin-bottom: 1.5rem; }
      main .content .c-float-hang {
        font-size: 1.125rem;
        padding: 0.75rem 2rem; }
        main .content .c-float-hang .subheading {
          margin-bottom: .125rem; }
        main .content .c-float-hang p {
          margin-top: .125rem; } }
    @media only screen and (min-width: 42em) {
      main .content {
        margin: 1rem auto 3rem; } }

/**Gallery CSS**/
.gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 5rem 0 3.5em; }

.gallery-pictures {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: -webkit-grab;
  white-space: nowrap;
  font-size: 0;
  cursor: grab; }

.gallery-picture {
  max-width: 740px;
  margin: 120px;
  display: inline-block;
  transform: rotateY(0); }
  .gallery-picture img {
    max-width: 740px; }

.gallery-pagination {
  margin-top: 12px;
  text-align: center;
  font-size: 0; }

.gallery-pagination-dot {
  background: #3d3d3d;
  border-radius: 15%;
  cursor: pointer;
  width: 32px;
  height: 8px;
  border: 2px solid transparent;
  margin: 0 7px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.gallery-pagination-dot-selected {
  /**border: 2px solid #7D87AE;**/
  background: #42a9ec; }

.lrgimg {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  .lrgimg img {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 840px;
    transition: all .3s;
    cursor: default;
    display: block;
    padding: 1rem 0; }
    @media only screen and (min-width: 36em) {
      .lrgimg img {
        cursor: pointer; } }
    .lrgimg img.img-enlarge {
      max-width: 1280px;
      width: 100%; }
  .lrgimg figcaption {
    font-size: .85em;
    padding-top: .35em; }
    .lrgimg figcaption .logo-theme {
      list-style: numbers outside;
      margin: auto;
      max-width: 280px;
      text-align: left; }
      .lrgimg figcaption .logo-theme li {
        padding: .35em 0; }
        .lrgimg figcaption .logo-theme li:first-of-type {
          border-top: none; }

.gallery img {
  margin-top: 1em; }

footer {
  margin-bottom: 1rem; }
  footer h3 {
    padding-top: 2rem; }
  footer p {
    border-top: 1px solid #ddd;
    max-width: 1080px;
    margin: 1.5rem auto;
    padding-top: 1.5rem;
    font-size: .95rem; }
